

.bubbles {
	text-align: center;
	position: relative;

	.bubble {
		padding: 20px 0;
		position: relative;
		height: 260px;
		padding-bottom: 30px;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 30px;
			background: url(../img/bg-gradient-white-transparent.png) bottom center repeat-x;
		}

		&:hover {
			height: auto;
		}

		a.read-more {
			position: absolute;
			font-size: .9em;
			right: 5px;
			bottom: 5px;
			color: $teal;
		}

		@include respond-to( 600px ) {
			width: 48%;
			float: left;
			margin-right: 4%;

			&:nth-child( 1 ), &:nth-child( 3 ), &:nth-child( 5 ), &:nth-child( 7 ), &:nth-child( 9 ), &:nth-child( 11 ) {
				clear: left;
			}

			&:nth-child( 2 ), &:nth-child( 4 ), &:nth-child( 6 ), &:nth-child( 8 ), &:nth-child( 10 ), &:nth-child( 12 ) {
				margin-right: 0;
			}
		}
			
		img {
			max-width: 140px;
			border-radius: 50%;
		}

		.bubble-title {
			text-transform: uppercase;
			color: $teal;
			text-align: center
		}

		p {
			color: $grey;
			text-align: left;
			font-size: .9em;
		}
	}
	
}

